body{
    margin: 0;
    background-color: var(--background-main, #1A2232);
    font-family: 'PT Sans';
}

/* ====HEADER START==== */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background:rgba(31, 41, 61, 0.7);
}
header h1{
    color: white;
    text-align: center;
    font-size: 2rem;
}
/* ====HEADER END==== */

/* ====MAIN START==== */
main{
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .nominal-container{
    width: 100%;
}
main form#input-nominal, main form#input-nominal2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.payment-radio{
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 160px;
    background-color:#1F293D;
    border-radius: 8px;
    gap: 10px;
}
div.payment-radio .radio-child{
    display: flex;
    width: 95%;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid var(--border-main, rgba(109, 158, 255, 0.10));
}
div.payment-radio .radio-child label{
    width: 100%;
    font-size: 26px;
    line-height: 38px;
    font-weight: bold;
    color: white;
}
div.payment-radio .radio-child label:hover{
    background-color:#1A2232;
}
main #input-nominal input[type=text], main #input-nominal2 input[type=text]{
    width: 500px;
    height: 50px;
    background-color: transparent;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid var(--border-main, rgba(109, 158, 255, 0.10));
    padding: 3px;
    color: white;
    text-align: center;
}
div.button-input button{
    width: 500px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: var(--primary-gradient, linear-gradient(180deg, #FF8036 0%, #FC6D19 100%));
    /* Shadow/Primary */
    box-shadow: 0px 4px 16px 0px rgba(255, 128, 54, 0.25);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main #input-nominal input[type=text], main #input-nominal2 input[type=text] {
        width: 80vw;
    }
    div.button-input button{
        width: 80vw;
    }
    div.payment-radio .radio-child label{
        font-size: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}